body {
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
  background-size: cover;
  height: 100%;
  background-image: url("bg3.jpg");
}
.about-section {
  width: 70%;
  background: #fff;
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 30px;
  border-left: 50px solid #c06eb2;
  border-right: 50px solid #c06eb2;
}
.inner-width {
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
  font-family: "Franklin Gothic Medium";
  font-size: xx-large;
  font-weight: bolder;
  font-stretch: semi-expanded;
  font-style: oblique;
}

.about-section h1 {
  text-align: center;
}
.border {
  width: 100px;
  height: 3px;
  background: #c06eb2;
  margin: 40px auto;
}
.about-section-row {
  display: flex;
  flex-wrap: wrap;
}
.about-section-col {
  flex: 50%;
}
.about {
  padding-right: 30px;
}
.about p {
  text-align: justify;
  margin-bottom: 20px;
  color: #ffa600;
  font-size: 17px;
  font-weight: bolder;
  font-size: x-large;
  font-family: "Times New Roman";
}

@media screen and (max-width: 700px) {
  .about-section-col {
    flex: 100%;
    margin: 10px 0;
  }
}
